
    
  
        body {
            font-feature-settings: "cv11", "ss01";
        }
        
        .fade-in-section {
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.8s ease-out, transform 0.8s ease-out;
            will-change: opacity, visibility;
        }
        
        .fade-in-section.is-visible {
            opacity: 1;
            transform: none;
        }

     
    

        .hero-bg {

    background-image: linear-gradient(rgba(6, 78, 59, 0.85), rgba(15, 23, 42, 0.9)), url('ICS_HOMEPAGE.jpg');
    
    background-size: cover;
    background-position: center    ;
    background-attachment: fixed;
}

 body {
            font-feature-settings: "cv11", "ss01";
        }
        
        .fade-in-section {
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.8s ease-out, transform 0.8s ease-out;
            will-change: opacity, visibility;
        }
        
        .fade-in-section.is-visible {
            opacity: 1;
            transform: none;
        }

       

        /* Formal specific adjustments */
        .text-justify-last-center {
            text-align: justify;
            text-align-last: center;

        }